<%# 投稿されたコメントがおかれる場所 %>
<% comments.each do |comment| %>
  <tr class="comment-area">
    <td>
      <%= link_to user_path(comment.user.id) do %>
        <%= attachment_image_tag comment.user, :image, :fill, 50, 50, fallback: "no_image.jpg" , size:'50x50' ,class: "user-icon"%>
      <% end %>
    </td>
    <td>
      <%= link_to user_path(comment.user.id) do %>
       投稿者  :  <%= comment.user.name %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="comment-image">
      <%= attachment_image_tag comment, :image, :fill, 200, 200, fallback: "no_image.jpg" , size:',200x200' %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= safe_join(comment.body.split("\n"), tag(:br)) %>
    </td>
  </tr>
  <tr>
    <% if comment.user == current_user %>
      <td></td>
      <td class="comment-delete-button">
        <%= link_to '削除', post_comments_path(comment), method: :delete, remote: true %>
      </td>
    <% end %>
  </tr>
  <span class="comment-border-bottom"></span>
<% end %>

