<%# 投稿されたコメントがおかれる場所 %>
<% comments.each do |comment| %>
  <tr>
    <td>投稿者名</td>
    <td>
      <%= attachment_image_tag comment.user, :image, :fill, 50, 50, fallback: "no_image.jpg" , size:'50x50' %>
      <%= comment.user.name %>
    </td>
  </tr>
  <tr>
    <td>画像</td>
    <td><%= attachment_image_tag comment, :image, :fill, 50, 50, fallback: "no_image.jpg" , size:'50x50' %></td>
  </tr>
  <tr>
    <td>本文</td>
    <td><%= comment.body %></td>
     <% if comment.user == current_user %>
       <td><%= link_to 'コメントを削除する', post_comments_path(comment), method: :delete, remote: true %></td>
     <% end %>
  </tr>
<% end %>

