<%# 投稿されたコメントがおかれる場所 %>
<% comments.each do |comment| %>
  <tr class="comment-area">
    <td>
      <%= link_to user_path(comment.user.id) do %>
        <%= attachment_image_tag comment.user, :image, :fill, 50, 50, fallback: "no_image.jpg" , size:'50x50' ,class: "user-icon"%>
      <% end %>
    </td>
    <td>
      <%= link_to user_path(comment.user.id) do %>
      投稿者  :  <%= comment.user.name %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="comment-image">
      <%= attachment_image_tag comment, :image,  fallback: "no_image.jpg" , size:'100%, 100%', class: "comment-image" %>
    </td>
  </tr>
  <tr>
    <td>コメント</td>
    <td class="comment-body-area">
      <%= safe_join(comment.body.split("\n"), tag(:br)) %>
    </td>
  </tr>
  <tr>
    <% if comment.id.present? %>
        <td></td>
        <td class="comment-delete-button">
        <% if comment.user == current_user %>
          <%= link_to '削除', post_comments_path(comment), method: :delete, remote: true %>
        <% end %>
        </td>
        <% else %>
        <td></td>
        <td>この内容は保存に失敗しております。<br>
            入力内容を確認後、再送信してください。
        </td>
      <% end %>
    </tr>
  <%# コメントお気に入り機能 %>
  <tr id="comment_fav_list_<%= comment.id %>">
    <%= render 'comment_favorites/favorites', comment: comment %>
  </tr>
<% end %>


