<%# 投稿されたコメントがおかれる場所 %>
<% comments.each do |comment| %>
  <tr class="comment-area">
    <td>
      <%= attachment_image_tag comment.user, :image, :fill, 50, 50, fallback: "no_image.jpg" , size:'50x50' ,class: "user-icon"%>
    </td>
    <td>投稿者  :  <%= comment.user.name %></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= attachment_image_tag comment, :image, :fill, 50, 50, fallback: "no_image.jpg" , size:'200x200' %>
    </td>
  </tr>
  <tr>
    <td>本文</td>
    <td>
      <%= safe_join(comment.body.split("\n"), tag(:br)) %>
    </td>
  </tr>
  <tr>
    <% if comment.user == current_user %>
      <td>
        <%= link_to '削除', post_comments_path(comment), method: :delete, remote: true %>
      </td>
    <% end %>
  </tr>
<% end %>

