<div class="posts-show-comment-wrapper">
  <% if post.closed_on.future? %>
    <h2>コメントをする</h2>

  <div id="error_explanation">
    <%= render 'comments/error', comment: comment %>
  </div>

    <%= form_with model:[post, comment], data: {remote: true}, method: :post do |f| %>
      <div class="comment-form">
        <div>
          <p>イメージ</p>
        </div>
        <div>
          <%= f.attachment_field :image, id: "file" %>
        </div>
        <div>
          <%= f.text_area :body, size: "50x5" %>
        </div>
        <div id="result" class="comment-preview">
        </div>
        <div>
          <%= f.submit 'コメントする', class: "comment-submit-button" %>
        </div>
      </div>
    <% end %>
  <% else %>
  <table>
    <tr>
      <td>この投稿のコメント受付期間は終了しました。</td>
    </tr>
  </table>
  <% end %>