<%# フォローボタン 部分テンプレート %>
<td>
  <%= link_to follows_user_path(user.id) do %>
    フォロー数 : 
    <%= user.followings.count %>
  <% end %>
</td>
<td>
  <%= link_to followers_user_path(user.id) do %>
    フォロワー数 : 
    <%= user.followers.count %>
  <% end %>
</td>
<% if user != current_user %>
  <% if user.followed_by?(current_user) %>
      <td class="unfollow-button">
        <%= link_to 'フォロー済み', user_relationship_path(user.id), method: :delete, remote: true %>
      </td>
    <% else %>
      <td class="follow-button">
        <%= link_to 'フォローする', user_relationship_path(user.id), method: :post, remote: true %>
      </td>
  <% end %>
<% end %>

