<table>
  <thead>
    <tr>
      <td>アイコン</td>
      <td>ユーザー名</td>
      <td>投稿数</td>
      <td>性別</td>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          <%= link_to user_path(user) do %>
            <%= attachment_image_tag user, :image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg", size:'30x30', class: "user-icon" %>
          <% end %>
        </td>
        <td><%= user.name %></td>
        <td><%= user.posts.count %>件</td>
        <% if user.is_sex_flag == true %>
            <td>男性</td>
          <% else %>
            <td>女性</td>
        <% end %>
      </tr>
  </tbody>
</table>
<table id="follow_button_<%= user.id %>">
  <tr>
    <%= render 'relationships/follow', user: user %>
  </tr>
</table>