<div class="user-info-wrapper">
  <div>
    <div class="user-info-container">
        <%= attachment_image_tag user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'100x100', class: "user-icon" %>
      <div class="user-info-button">
        <% if user.id == current_user.id %>
            <% if check_page('users', 'show') %>
              <div class="user-info-edit-link">
                <%= link_to 'プロフィール編集する', edit_user_path(current_user) %>
              </div>
              <div class="user-info-follow-count">
                <%= link_to follows_user_path(user.id) do %>
                  フォロー数 : 
                  <%= user.followings.count %>
                <% end %>
              </div>
              <div class="user-info-follow-count">
                <%= link_to followers_user_path(user.id) do %>
                  フォロワー数 : 
                  <%= user.followers.count %>
                <% end %>
              </div>
            <% end %>
          <% else %>
        <table id="follow_button_<%= user.id %>">
          </tr>
            <%= render 'relationships/follow', user: user %>
          <tr>
        </table>
        <% end %>
    </div>
    </div>
  </div>
  <div class="user-info-name">
    <p>
      <%= user.name %><br>
    </p>
  </div>
  <% if check_page('users', 'index') %>
    <% if user.introduction.present? %>
      <div class="user-info-introduction">
        <p>
          <% if user.introduction.length > 10 %>
            <%= user.introduction.truncate(30) %>
          <% else %>
            <%= safe_join(user.introduction.split("\n"), tag(:br)) %>
          <% end %>
        </p>
      </div>
    <% else %>
      <div class="user-info-introduction"></div>
    <% end %>
  <% end %>
  <% if check_page('users', 'show') %>
    <% if user.introduction.present? %>
      <div class="user-info-introduction">
        <p>
          <%= safe_join(user.introduction.split("\n"), tag(:br)) %>
        </p>
      </div>
      <% else %>
        <% if user == current_user %>
          <div class="user-info-introduction">
            <%= link_to '自己紹介を追加する', edit_user_path(current_user) %>
          </div>
        <% else %>
          <div class="user-info-introduction"></div>
        <% end %>
    <% end %>
  <% end %>
  <div class="user-info-name-small">
    <%= link_to user_favorites_path(user.id) do %>
      お気に入りした投稿  
      ”<%= user.favorites.count %>”  件
    <% end %>
  </div>
  <div class="user-info-name-small">
    <%= link_to user_favorite_comments_path(user.id) do %>
      お気に入りしたコメント  
      ”<%= user.favorited_comments.count %>”  件
    <% end %>
  </div>
  <div class="user-info-name-small">
    投稿件数  
    ”<%= user.posts.count %>”  件
  </div>
  <div class="user-info-name-small">
    コメント回数  
    ”<%= user.comments.count %>”  件
  </div>
</div>