<div class="user-info-wrapper">
  <div>
    <div class="user-info-container">
        <%= attachment_image_tag user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'100x100', class: "user-icon" %>
      <div class="user-info-button">
        <% if user.id == current_user.id %>
            <% if check_page('users', 'show') %>
              <div class="user-info-edit-link">
                <%= link_to 'プロフィール編集する', edit_user_path(current_user) %>
              </div>
              <div class="user-info-follow-count">
                フォロー数 : 
                <%= user.followings.count %>
              </div>
              <div class="user-info-follow-count">
                フォロワー数 : 
                <%= user.followers.count %>
              </div>
            <% end %>
          <% else %>
        <table id="follow_button_<%= user.id %>">
          </tr>
            <%= render 'relationships/follow', user: user %>
          <tr>
        </table>
        <% end %>
    </div>
    </div>
  </div>
  <div class="user-info-name">
    <p>
      <%= user.name %><br>
    </p>
  </div>
  <div class="user-info-introduction">
    <p>
      <%= user.introduction %>
    </p>
  </div>
      <div class="user-info-name-small">
        <%= link_to user_favorites_path(user.id) do %>
          お気に入り<%= user.favorites.count %> 件
        <% end %>
      </div>
      <div class="user-info-name-small">
        投稿<%= user.posts.count %>件
      </div>
      <div class="user-info-name-small">
        コメント<%= user.comments.count %>件
      </div>
  <div class="user-info-favorites-count">

  </div>

</div>