<%# ユーザー情報編集画面 %>
<h2>ユーザー情報編集</h2>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2 style="color: red;"><%= @user.errors.count %> 件のエラーが発生しました。</h2>
    <ul style="color: red;">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @user do |f| %>
  <table>
    <tr>
      <td>ユーザー名</td>
      <td><%= f.text_field :name  %></td>
    </tr>
    <tr>
      <td>画像</td>
      <td><%= f.attachment_field :image %></td>
    </tr>
    <tr>
      <td>プロフィール<br>＊200文字以内</td>
      <td><%= f.text_area :introduction %></td>
    </tr>
    <tr>
      <td>性別</td>
      <td>
        <%= f.radio_button :is_sex_flag, :true, checked: true %>
        <%= f.label :is_sex_flag, "男性", {value: :true} %>
        <%= f.radio_button :is_sex_flag, :false %>
        <%= f.label :is_sex_flag, "女性", {value: :false} %>
      </td>
    </tr>
    <tr>
      <td><%= f.submit "Update" %></td>
    </tr>
  </table>
<% end %>
