<%# マイページ %>
<h2 class="users-show-title">
  <%= @user.name %>'s Page
  <i class="fas fa-user"></i>
</h2>
<%= render "users/info", user: @user %>
<div class="users-show-posts">
  <h2>
    <%= @user.name %>さんの投稿一覧
  </h2>
</div>
<div class="jscroll post-list">
  <% @posts.each do |post| %>
    <%= render 'posts/list', post: post %>
  <% end %>
  <div class="hidden">
    <%= paginate @posts, class: "paginate" %>
  </div>
  <div class="page-load-status">
    <p class="infinite-scroll-request"></p>
  </div>
</div>

