<%# マイページ %>
<h2><%= @user.name %>'s My Page</h2>
<%= render "users/info", user: @user %>
<h2><%= @user.name %>さんのお気に入り投稿 : <%= @favorite_posts.count %>件</h2>
<% @favorite_posts.each do |post| %>
  <%= render 'users/favorites_list', post: post %>
<% end %>
<div class="edit-user-button">
<% if @user.id == current_user.id %>
  <%= link_to 'ユーザー編集へ', edit_user_path %>
  <%= link_to 'アカウント削除', withdrawal_path %>
<% end %>
</div>