<div class="user-contact-index-title-wrapper">
  <h2>
    お問い合わせ一覧
    <i class="fas fa-phone"></i>
  </h2>
  <div>
    <%= button_to '新規お問い合わせへ', new_user_contact_path(current_user.id), method: :get %>
  </div>
</div>

  <div class="user-contact-index-contents-wrapper">
    <% @contacts.each do |contact| %>
      <% if contact.user.id == current_user.id %>
        <div class="user-contact-index-contents">
          <div class="user-contact-cell">
            <p>問い合わせID</p>
            <%= contact.id %>
          </div>
          <div class="user-contact-cell">
            <p>ユーザーID</p>
            <%= contact.user.id %>
          </div>
          <div class="user-contact-cell">
            <p>ユーザー名</p>
            <%= contact.user.name %>
          </div>
          <div class="user-contact-cell">
            <p>メールアドレス</p>
            <%= contact.user.email %>
          </div>
          <div class="user-contact-cell">
            <p>対応状況</p>
            <% case contact.is_support_status %>
              <% when "対応待ち" %>  
                <div class="is_support_yet">
                  <%= contact.is_support_status %>
                </div>
              <% when "対応中" %>  
                <div class="is_support_doing">
                  <%= contact.is_support_status %>
                </div>
              <% when "対応済み" %>  
                <div class="is_support_done">
                  <%= contact.is_support_status %>
                </div>
            <% end %>
          </div>
          <div class="user-contact-cell">
            <p>タイトル</p>
            <%= contact.title %>
          </div>
          <div class="user-contact-cell">
            <p>問い合わせ日時</p>
            <%= l contact.created_at %>
          </div>
          <div class="user-contact-show-link">
            <%= link_to '詳細へ', user_contact_path(contact.user_id, contact.id) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


