<h2>
  お問い合わせ一覧
  <i class="fas fa-phone"></i>
</h2>
<div>
  <%= button_to '新規お問い合わせへ', new_user_contact_path(current_user.id), method: :get %>
</div>

<% @contacts.each do |contact| %>
  <table>
    <thead>
      <tr>
        <td>問い合わせID</td>
        <td>ユーザーID</td>
        <td>ユーザー名</td>
        <td>メールアドレス</td>
        <td>タイトル</td>
        <td>画像</td>
        <td>対応ステータス</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= contact.id %></td>
        <td><%= contact.user.id %></td>
        <td><%= contact.user.name %></td>
        <td><%= contact.user.email %></td>
        <td><%= contact.title %></td>
        <td><%= contact.is_support_status %></td>
        <td>
          <%= link_to '詳細へ', user_contact_path(contact.user_id, contact.id) %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>