<h2>
  新規お問い合わせ
  <i class="fas fa-phone"></i>
</h2>

<%= form_for @new_contact, url: user_contacts_path do |f| %>
  <label>ユーザー名</label>
  <%= f.text_field :name %>
  <label>メールアドレス</label>
  <%= f.text_field :email %>
  <label>タイトル</label>
  <%= f.text_field :title %>
  <label>画像</label>
  <%= f.attachment_field :image %>
  <label>本文</label>
  <%= f.text_area :body %>
  <%= f.submit "お問い合わせする" %>
<% end %>