<%# ユーザー お問い合わせ %>
<h2>
  お問い合わせ内容
  <i class="fas fa-phone"></i>
</h2>
  <table>
    <thead>
      <tr>
        <td>問い合わせID</td>
        <td>ユーザーID</td>
        <td>ユーザー名</td>
        <td>メールアドレス</td>
        <td>タイトル</td>
        <td>画像</td>
        <td>対応ステータス</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @contact.id %></td>
        <td><%= @contact.user.id %></td>
        <td><%= @contact.user.name %></td>
        <td><%= @contact.user.email %></td>
        <td><%= @contact.title %></td>
        <td><%= @contact.is_support_status %></td>
      </tr>
    </tbody>
  </table>