<table>
  <thead>
    <tr>
      <td>ユーザー名</td>
      <td>タイトル</td>
      <td>画像</td>
      <td>内容</td>
      <td>コメント数</td>
      <td>お気に入り数</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="user-icon">
        <%= attachment_image_tag post.user, :image, :fill, 50, 50, fallback: "no_image.jpg" , size:'50x50' %>
      </td>
      <td>
        <%= link_to admin_user_path(post.user_id) do %>
          <%= post.user.name %>
        <% end %>
      </td>
      <td>
        <%= link_to admin_post_path(post.id) do %>
          <%= post.title %>
        <% end %>
      </td>
      <td><%= attachment_image_tag post, :image, :fill, 50, 50, fallback: "no_image.jpg" , size:'50x50' %></td>
      <td><%= post.body %></td>
      <td><%= post.comments.count %></td>
      <td><%= post.favorites.count %></td>
      <td><%= button_to 'DELETE', admin_post_path(post), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
    </tr>
  </tbody>
</table>