<%# 管理者用 投稿一覧部分テンプレート %>
  <div class="admin-posts-index-container">
    <div class="admin-posts-index-cell">
      <p>ユーザー名</p>
      <%= post.user.name %>
    </div>
    <div class="admin-posts-index-cell">
      <p>ユーザーID</p>
      <%= post.user.id %>
    </div>
    <div class="admin-posts-index-cell">
      <p>タイトル</p>
      <%= post.title %>
    </div>
    <div class="admin-posts-index-cell">
      <p>投稿日時</p>
      <%= l post.created_at %>
    </div>
    <div class="admin-posts-index-link">
      <%= link_to '詳細を見る', admin_post_path(post.id) %>
    </div>
    <div class="admin-posts-delete-button">
      <%= link_to 'DELETE', admin_post_path(post.id), method: :delete %>
    </div>
  </div>
