<%# 管理者 投稿詳細ページ %>
<h2>投稿詳細管理</h2>
<h2>
  <%= attachment_image_tag @user, :image, :fill, 50, 50, fallback: "no_image.jpg" , size:'50x50',class: "user-icon" %>
  <%= @post.user.name %>さんの投稿詳細
  <i class="fas fa-mail-bulk"></i>
</h2>
<div class="posts-wrapper">
  <div class="posts-title">
      <h3>
        タイトル  :  
        <%= @post.title %>
      </h3>
  </div>
  <div class="posts-user">
    <div>
      <%= attachment_image_tag @post.user, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size:'60x60', class: "user-icon" %>
    </div>
      <div class="posts-user">
        <h3>投稿者  :  </h3>
        <%= link_to admin_user_path(@post.user.id) do %>
        <h3><%= @post.user.name %></h3>
        <% end %>
      </div>
  </div>
    <div class="posts-body-show-wrap">
      <p>
        <%= safe_join(@post.body.split("\n"), tag(:br)) %>
      </p>
    </div>
  <div class="posts-img">
    <%= attachment_image_tag @post, :image, :fill, 200, 200, fallback: "no_image.jpg" , size:'350x200' %>
  </div>
  <div class="posts-comments">
    <h4>
      コメント数  :  
        <%= @post.comments.count %>
    </h4>
  </div>
  <div class="posts-closed-on">
    <h3>
      コメント受付期間
      <%= l @post.closed_on %>  まで
    </h3>
  </div>
  <div class="posts-category">
      <h4>カテゴリー  </h4>
      <% @post.genres.each do |genre| %>
        <%= genre.name %>
      <% end %>
  </div>
  <table class="posts-fav-list">
    <tbody id="fav_list_<%= @post.id %>">
        <%= render 'favorites/favorites', post: @post %>
    </tbody>
  </table>
</div>

<div class="admin-posts-delete-button">
    <%= link_to 'DELETE', admin_post_path(@post.id), method: :delete %>
</div>

