<div class="devise-wrapper">
  <h2>ログイン</h2>
  <%= flash[:error] %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="devise-email">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "40x10" %>
    </div>

    <div class="devise-password">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", size: "40x10" %>
    </div>

    <div class="devise-submit">
      <%= f.submit "ログイン", size: "40x10", class: "btn" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>
