<%= form_for post do |f| %>
  <div id="comment_body">
    <table>
      <tbody>
        <tr>
          <td>画像</td>
          <td><%= f.attachment_field :image %></td>
        </tr>
        <tr>
          <td>タイトル</td>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <td>内容</td>
          <td><%= f.text_area :body %></td>
        </tr>
        <tr>
          <td>コメント受付期限</td>
          <td><%= f.date_select :time_up_at %></td>
        </tr>
        <tr>
          <td><%= f.submit '投稿する' %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>