<%# 新規投稿 部分テンプレート %>
<% if post.errors.any? %>
  <% post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>
<%= form_for post do |f| %>
  <div id="comment_body">
    <table>
      <tbody>
        <tr>
          <td>画像</td>
          <td><%= f.attachment_field :image %></td>
        </tr>
        <tr>
          <td>画像プレビュー</td>
          <td></td>
        </tr>
        <tr>
          <td>タイトル</td>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <td>内容</td>
          <td><%= f.text_area :body %></td>
        </tr>
        <tr>
          <td>カテゴリー</td>
          <td>
            <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name ) do |genre|%>
              <%= genre.label do %>
                <%= genre.check_box %>
                <%= genre.text %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>コメント<br>受付期限</td>
          <td>
          <%= f.datetime_field :closed_on %>
          </td>
        </tr>
        <tr>
          <td><%= f.submit '投稿する' %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>