<%# 部分テンプレート index用 %>
<div class="posts-wrapper">
  <div class="posts-title">
    <%= link_to post_path(post.id) do %>
      <h3>
        タイトル  :  
        <%= post.title %>
      </h3>
    <% end %>
  </div>
  <div class="posts-user">
    <div>
      <%= link_to user_path(post.user.id) do %>
        <%= attachment_image_tag post.user, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size:'60x60', class: "user-icon" %>
      <% end %>
    </div>
      <div class="posts-user">
        <h3>投稿者  :  </h3>
        <%= link_to user_path(post.user.id) do %>
        <h3><%= post.user.name %></h3>
        <% end %>
      </div>
  </div>
  <% if check_page('posts', 'index') %>
  <div class="posts-body">
    <p>
      <% if post.body.length > 10 %>
        <%= post.body.truncate(20) %>
        <%= link_to '続きを見る', post_path(post.id) %>
        <% else %>
          <%= safe_join(post.body.split("\n"), tag(:br)) %>
      <% end %>
    </p>
  </div>
  <% end %>
  <% if check_page('posts', 'show') %>
    <div class="posts-body-show-wrap">
      <p>
        <%= safe_join(post.body.split("\n"), tag(:br)) %>
      </p>
    </div>
  <% end %>
  <div class="posts-img">
    <%= link_to post_path(post.id) do %>
      <%= attachment_image_tag post, :image, :fill, 200, 200, fallback: "no_image.jpg" , size:'350x200' %>
    <% end %>
  </div>
  <div class="posts-comments">
    <h4>
      コメント数  :  
      <%= link_to post_path(post.id) do %>
        <%= post.comments.count %>
      <% end %>
    </h4>
  </div>
  <div class="posts-closed-on">
    <h3>
      コメント受付期間
      <%= l post.closed_on %>  まで
    </h3>
  </div>
  <div class="posts-category">
      <h4>カテゴリー  </h4>
      <% post.genres.each do |genre| %>
        <%= genre.name %>
      <% end %>
  </div>
  <table class="posts-fav-list">
    <tbody id="fav_list_<%= post.id %>">
        <%= render 'favorites/favorites', post: post %>
    </tbody>
  </table>
</div>