<%# ユーザー 投稿一覧ページ %>
<div>
  <div>
    <h2>
      投稿一覧
      <i class="fas fa-mail-bulk"></i>
      <i class="fas fa-mail-bulk"></i>
      <i class="fas fa-mail-bulk"></i>
      全 "<%= @all_posts.count %>" 件
    </h2>
  </div>
  <div>
    <%= form_tag(posts_path, method: :get) do %>
      <%= select_tag :keyword, options_for_select(
        "新しい投稿順": "new",
        "古い投稿順": "old",
        "コメント受付期間の遠い順": "commentable",
        "コメントの多い順": "many_comment",
        "コメントの少ない順": "less_comment",
        "お気に入り数順": "many_favorite"
      ) %>
      <%= submit_tag '並び替え' %>
    <% end %>
  </div>
</div>

<div class="jscroll post-list">
  <% @posts.each do |post| %>
    <%= render 'posts/list', post: post %>
  <% end %>
  <div class="hidden">
    <%= paginate @posts, class: "paginate" %>
  </div>
  <div class="page-load-status">
    <p class="infinite-scroll-request"></p>
  </div>
</div>