<%# ユーザー 投稿詳細ページ %>
<h2>
  <%= attachment_image_tag @user, :image, :fill, 50, 50, fallback: "no_image.jpg" , size:'50x50',class: "user-icon" %>
  <%= @post.user.name %>さんの投稿詳細
  <i class="fas fa-mail-bulk"></i>
</h2>
<%= render 'posts/list', post: @post %>
  <div id="fav_list_<%= @post.id %>">
      <%= render 'favorites/favorites', post: @post %>
  </div>

<div>
  <% if @post.user_id == current_user.id %>
    <%= link_to '編集する', edit_post_path %>
    <%= link_to '削除する', post_path(@post.id), method: :delete %>
  <% end %>
</div>
<%# コメント投稿フォーム %>
<h2>コメント</h2>

<% if @post.closed_on.future? %>
  <%= form_with model:[@post, @new_comment], data: {remote: true}, method: :post do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
    <table>
      <tbody>
        <tr>
          <td>画像</td>
          <td><%= f.attachment_field :image %></td>
        </tr>
        <tr>
          <td>内容</td>
          <td><%= f.text_area :body %></td>
        </tr>
        <tr>
          <td><%= f.submit 'コメントする' %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
<table>
  <tr>
    <td>この投稿のコメント受付期間は終了しました。</td>
  </tr>
</table>
<% end %>


<%# 部分テンプレート コメント一覧 %>
<h2>コメント一覧</h2>
  <table id="comment_area">
    <%= render 'comments/comment', comments: @comments  %>
  </table>