<%# ユーザー 投稿詳細ページ %>
<h2>
  <%= attachment_image_tag @user, :image, :fill, 50, 50, fallback: "no_image.jpg" , size:'50x50',class: "user-icon" %>
  <%= @post.user.name %>さんの投稿詳細
  <i class="fas fa-mail-bulk"></i>
</h2>

<%= render 'posts/list', post: @post %>

<%# コメント投稿フォーム %>
<%= render 'comments/form', post: @post, comment: @new_comment %>


<%# 部分テンプレート コメント一覧 %>
<div class="posts-show-comments-area">
  <h2>コメント一覧</h2>
  <table id="comment_area_<%= @post.id %>">
    <%= render 'comments/comment', comments: @post.comments, post: @post %>
  </table>
</div>
