<!DOCTYPE html>
<html>
  <head>
    <title>MyFastCode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h2 class="logo-title">
      <i class="fas fa-tshirt"></i>
      <%= link_to 'My Fast Code', root_path %>
      <i class="fas fa-tshirt"></i>
    </h2>
  </header>

  <div class="contents-space"></div>

   <div class="body-wrap">
    <div class="side-bar">
      <table>
        <% if user_signed_in? %>
          <tr>
            <td class="side-bar-contents">
              <%= link_to 'ABOUT', homes_about_path %>
            </td>
          </tr>
          <tr>
            <td class="side-bar-contents">
              <%= link_to 'マイページ', user_path(current_user) %>
            </td>
          </tr>
          <tr>
            <td class="side-bar-contents">
              <%= link_to '新規投稿', new_post_path %>
            </td>
          </tr>
          <tr>
            <td class="side-bar-contents">
              <%= link_to '投稿一覧', posts_path %>
            </td>
          </tr>
          <tr>
            <td class="side-bar-contents">
              <%= link_to 'ユーザー一覧', users_path %>
            </td>
          </tr>
          <tr>
            <td class="side-bar-contents">
              <%= link_to 'カテゴリー一覧', genres_path %>
            </td>
          </tr>
          <tr>
            <td class="side-bar-contents">
              <%= link_to 'お問い合わせ', user_contacts_path(current_user.id) %>
            </td>
          </tr>
          <tr>
            <td class="side-bar-contents">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            </td>
          </tr>
        <% elsif admin_signed_in? %>
          <tr>
            <td class="side-bar-contents">
              <%= link_to '投稿一覧', admin_posts_path %>
            </td>
          </tr>
          <tr>
            <td class="side-bar-contents">
              <%= link_to 'ジャンル一覧', admin_genres_path %>
            </td>
          </tr>
          <tr>
            <td class="side-bar-contents">
              <%= link_to 'ユーザー一覧', admin_users_path %>
            </td>
          </tr>
          <tr>
            <td class="side-bar-contents">
              <%= link_to 'お問い合わせ一覧', admin_contacts_path %>
            </td>
          </tr>
          <tr>
            <td class="side-bar-contents">
              <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
            </td>
          </tr>
        <% else %>
          <tr>
            <td class="side-bar-contents">
              <%= link_to 'ABOUT', homes_about_path %>
            </td>
          </tr>
          <tr>
            <td class="side-bar-contents">
              <%= link_to '投稿一覧', posts_path %>
            </td>
          </tr>
          <tr>
            <td class="side-bar-contents">
              <%= link_to 'ログイン', new_user_session_path %>
            </td>
          </tr>
          <tr>
            <td class="side-bar-contents">
              <%= link_to '新規登録', new_user_registration_path %>
            </td>
          </tr>
          
        <% end %>
        <tr>
          <td></td>
        </tr>
      </table>
    </div>

      <body>
        <div class="main">
          <%= yield %>
        </div>
      </body>
    </div>

  </div>


  <div class="contents-space"></div>

  <div class="footer-bk">
    <footer>

      <h3 class="footer-title">
        <i class="fas fa-tshirt"></i>
        My Fast Code
        <i class="fas fa-tshirt"></i>
      </h3>
    </footer>
  </div>
</html>
